    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: white;
    }
    :root {
      /*  Near white color - VL -92722*/
      --color1: #white;
      /*  Accent color - VL -92722*/
      --color2: #FC600A;
      /*  Toned down color - VL -92722*/
      --color3:  #3d31dd;
      /*  Bright color  - VL -92722*/
      --color4: rgb(8, 153, 22);
      /*  dark color - VL -92722*/
      --color5: #202731;
    }
    
    
    body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      color: var(--color1);
      background: var(--color5);
      overflow-x: hidden;
    }
    /*Everything for the nav bar I followed a tutorial for on 12.2.22*/
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
    }

    /*trying to try the clamp function to make my website responsive to desktop and smartphone displays specifically the images I have. */

#sectionImages{
width: clamp(400rem 40vw 600rem);
height: clamp(400rem 40vw 600rem);

}
.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--color2);
}

button {
  padding: 9px 25px;
  background-color: var(--color3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--color2) ;
}

nav {
color:white;
}


  .a{
    color: white;
  }
  .column {
    flex: 50%;
    padding: 5px;
  }
      
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .responsive{
    width: 100% ;
    max-width: 400px;
    height: auto;
  }

  .row {
    display: flex;
  }
    section {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 400px;
      padding: 100px 20vw;
    }

    .blue {
      background: #3c31dd;
    }

    .red {
      background: #dd3f31;
    }

    .green {
      background: var(--color4);
    }

    .curve {
      position: absolute;
      height: 225px;
      width: 100%;
      bottom: 0;
    }

    .curve::before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100% 50%;
      width: 55%;
      height: 100%;
      background-color: #202731;
      transform: translate(85%, 60%);
    }

    .curve::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100% 50%;
      width: 55%;
      height: 100%;
      background-color: #3c31dd;
      transform: translate(-4%, 40%);
      z-index: -1;
    }